body{
    background-color: rgb(251, 240, 255);
}
.container{
    display: flex;
}
.purplecard{
    background-image: linear-gradient(35deg, #6F01B0 , #B684FF);
    width: 50vw;
    height: 100vh;
}

.whitecard{
    
    background-color: #fcfcfc;
    width: 50vw;
    height: 100vh;
}
